.circle {
    display:block;
    width:450px;
    height: 450px;
    border-radius: 50%;
    text-align: center;
    background: #E3992A;
}

.foto-portada {
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 5rem;
}

/* Ellipse 5 */

/* position: absolute;
width: 450px;
height: 450px;
left: 415px;
top: 135px;
 */