.foto-portada {
    width: 450px;
    height: auto;
    border-radius: 50%;
    padding: 1rem;
    margin: 5rem;
    background: #E3992A;
}

.barra-portada {
    width: 1280px;
    height: 50px;
    background-color: #E3992A;
}
